/* Add here all your css styles (customizations) */
/* author: SangDo
*/
.pointer {cursor:pointer;}
/* homepage */
.home1-center-cropped {
    width: 554px;
    height: 290px;
    background-position: center center;
    background-repeat: no-repeat;
}
.home2-center-cropped {
    width: 368px;
    height: 184px;
    background-position: center center;
    background-repeat: no-repeat;
}

.home3-center-cropped {
    width: 398px;
    height: 180px;
    background-position: center center;
    background-repeat: no-repeat;
}

.home4-center-cropped {
    width: 262px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
}

.slick-slide .media.g-bg-white {min-height:110px;}