/* Add here all your css styles (customizations) */
/* author: SangDo
*/
.pointer {cursor:pointer;}
.hidden {display: none !important;}
.text_center {text-align:center;}
.bold {font-weight:bold;}
.red_color {color:#f00;}
/* homepage */
.home1-center-cropped {
    width: 554px;
    height: 290px;
    background-position: center top;
    background-repeat: no-repeat;
}
.home2-center-cropped {
    width: 368px;
    height: 184px;
    background-position: center top;
    background-repeat: no-repeat;
}

.home3-center-cropped {
    width: 398px;
    height: 180px;
    background-position: center top;
    background-repeat: no-repeat;
}

.home4-center-cropped {
    width: 262px;
    height: 300px;
    background-position: center top;
    background-repeat: no-repeat;
}

.home5-center-cropped {
    width: 328px;
    height: 300px;
    background-position: center top;
    background-repeat: no-repeat;
}

.slick-slide .media.g-bg-white {min-height:110px;}

.block_data_2_hr {margin-top:0.5rem !important;margin-bottom:0.5rem !important;}

/* detail page */
#article_detail_container p {color:#000;}
#article_detail_container figcaption {color: #999;}
.detail-center-cropped {
    width: 263px;
    height: 143px;
    background-position: center top;
    background-repeat: no-repeat;
}
#article_detail_container img {max-width:825px;}
/* category */
.cat_fix_height_slide {height:300px !important;}
.cat_desc_cut p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}