/* Common style */
.pointer {cursor:pointer;}

.margin_l_10 {margin-left: 10px;}

.form-control-feedback {
    right: 12px !important;
}

td.details-control {
    background: url('../admin/dist/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../admin/dist/img/details_close.png') no-repeat center center;
}

.text-bold{
    font-weight: bold;
}

.detail-table td{
    padding: 0 10px !important;
    border: 1px solid #ccc !important;
}


.ellipsis3lines p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* N: number of lines to show */
    line-height: 20px;        /* X: fallback */
    max-height: 60px;       /* X*N fallback */
}
.ellipsis4lines p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* N: number of lines to show */
    line-height: 20px;        /* X: fallback */
    max-height: 80px;       /* X*N fallback */
}
.ellipsis6lines p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; /* N: number of lines to show */
    line-height: 20px;        /* X: fallback */
    max-height: 120px;       /* X*N fallback */
}
.ellipsis8lines p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8; /* N: number of lines to show */
    line-height: 20px;        /* X: fallback */
    max-height: 160px;       /* X*N fallback */
}


.ellipsis3lines_title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* N: number of lines to show */
    line-height: 20px;        /* X: fallback */
    max-height: 60px;       /* X*N fallback */
}